@keyframes typewriter
{
  from{opacity:0}
  to{opacity: 1;}
    0%{
      width: 0;
    }
    100%{
      width: 100%;
      /* text-wrap: all; */
    }
}

@keyframes type{
  from{width: 0}
  to{width: 100%}
}

@keyframes grow{
 0% {
        transform: scale(1);
        visibility: hidden;
      }
      50% {
        transform: scale(1.1);
        opacity: 1;
        visibility: visible;
      }
      100% {
        transform: scale(1);
      }
}
@keyframes op{

0% {
        transform: scale(1);
        visibility: hidden;
      }
      50% {
        transform: scale(1.1);
        opacity: 1;
        visibility: visible;
      }
      100% {
        transform: scale(1);
      }
}

@keyframes marqueeScroll {
0% { transform: translateX(0%); }
  100% { transform: translateX(-900%); }
}
@keyframes opac{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes blink{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }
  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }
  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }
  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

@keyframes romanticGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}