*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: 0;
  position: relative;
}
body
{
  height: 100vh;
  width: 100%;
  position: relative;
}
.head
{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main
{
  height: 50%;
  width: fit-content;
  padding: 2%;
  text-align: center;
  /* font-size: 30px; */
}
.para
{
   display: block;
   width: 100%;
  overflow: hidden;
  opacity: 0;
  text-wrap: wrap;
  /* height: 2ch; */
  white-space: nowrap;
  font-family: 'Courier New', monospace;
  word-break: break-all;
  word-wrap: break-word;
  animation: typewriter 5s steps(66, end) forwards;
}
.para1
{
   display: block;
   width: 100%;
  overflow: hidden;
  text-wrap: wrap;
  font-weight: bolder;
  white-space: nowrap;
  font-family: 'Courier New', monospace;
  animation: typewriter 5s steps(20, end) forwards;
}
.para2
{
   width: 100%;
  overflow: hidden;
  text-wrap: wrap;
  font-weight: bolder;
  opacity: 0;
  white-space: nowrap;
  font-family: 'Courier New', monospace;
  animation: typewriter 5s steps(33, end) forwards;
  animation-delay: 5s;
}
.btn
{
  letter-spacing: 0.5ch;
  padding: 3%;
  border-radius: 15px;
  border:2px solid blue;
  animation: grow 3s ease-in-out infinite;
  animation-delay: 10s;
  animation-fill-mode: backwards;
  opacity: 0;
  visibility: hidden;
}
.audio{
  display: none;
}
.mainbody{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
}
.prepare
{
  text-align: center;
}
.prepare>p:nth-child(1)
{
  display: block;
   width: 100%;
   font-weight: bolder;
  overflow: hidden;
  text-wrap: wrap;
  white-space: nowrap;
  font-family: 'Courier New', monospace;
  word-break: break-all;
  word-wrap: break-word;
  animation: type 2s steps(13, end) forwards;
  transition: animation 2s ease-in-out;
}
.yn
{
  font-size: 5vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.yn>button
{
letter-spacing: 0.5ch;
  padding: 5%;
  border-radius: 15px;
  border:2px solid blue;
  animation: grow 3s ease-in-out infinite;
  animation-delay: 2s;
  animation-fill-mode: backwards;
  /* opacity: 0; */
  visibility: hidden;
}
